.sign-in {
  width: 370px;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  margin-bottom: 30px;
  .title {
    margin: 10px 0;
  }
  .buttons {
    display: flex;
    justify-content: space-between;
  }
}
